* {
    padding: 5px;
    margin: 5px;
}
.imgLogo{
    width:500px;height:200px
}
body{
    background-color:#e6f2ff;
}
.textStyle
{font-size:18px; color: #1a2444}
#textboxid
{
height:100px;
width:500px;
font-size:14pt;
padding: 10px;
margin: 10px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}
#submitbutton{
background-color: #000000;
color: #FFFFFF;
padding: 10px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
margin:20px;
width: 100px;
height: 40px;

}